<table class="table table-sm align-middle table-bordered table-striped">

    <thead>
        <tr>
            <th scope="col"><h6>Id</h6></th>
            <th scope="col"><h6>Nome</h6></th>
            <th scope="col"><h6>Sobrenome</h6></th>
            <th scope="col"><h6>Email</h6></th>
            <th scope="col"><h6>Nascimento</h6></th>
            <th scope="col"><h6>Escolaridade</h6></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let user of userService.list">
            <th scope="row"><h6>{{ user.id }}</h6></th>
            <td>{{ user.nome }}</td>
            <td>{{ user.sobrenome }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.dataNascimento }}</td>
            <td>{{ user.escolaridade }}</td>
            <td>
                <i class="far fa-edit fa-lg text-info" (click)="updateUser(user)" style="cursor: pointer;"></i>
            </td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteUser(user.id)" style="cursor: pointer;"></i>
            </td>
        </tr>
    </tbody>

</table>