<div class="jumbtron">
    <h1 class="display-4 text-center">Usuários</h1>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h6 class="text-center">
                Adicionar/Editar Usuário
            </h6>
            <app-create-update-user></app-create-update-user>
        </div>
        <div class="col-sm-9">
            <h6 class="text-center">
                Lista de Usuários
            </h6>
            <app-list-users></app-list-users>
        </div>
    </div>
</div>
